:root {
  --md-primary-fg-color:        #02303B;
  --md-primary-fg-color--light: #02303B;
  --md-primary-fg-color--dark:  #01171D;

  --md-accent-fg-color: #66DCB8;
}

[data-md-color-scheme="slate"] {
  --md-hue: 200;
}

.md-nav__item .md-nav__link--active, .md-typeset a {
    color: #1D8364
}
