:root > * {
  --md-primary-fg-color:        hsl(216, 39%, 34%);
  --md-primary-fg-color--light: hsl(218, 29%, 53%);
  --md-primary-fg-color--dark:  hsl(208, 100%, 15%);

  --md-primary-bg-color: hsl(44, 85%, 66%);

  --md-accent-fg-color: hsl(27, 82%, 66%);
}

.md-header {
  padding-top: 2em;
  padding-bottom: 2em;
}

.md-header__topic:first-child {
  font-weight: 500;
}

.md-nav--primary .md-nav__item--active>.md-nav__link {
  color: hsl(27, 82%, 66%);
}

.md-nav__item .md-nav__link, .md-typeset a {
  color: hsl(355, 74%, 55%);
}
.md-nav__item .md-nav__link:hover, .md-typeset a:hover {
  color: hsl(27, 82%, 66%);
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title {
    background-color: hsl(216, 39%, 34%);
    color: hsl(44, 85%, 66%);
  }
}

.md-footer {
  color: hsl(44, 85%, 66%);
}

[data-md-color-scheme="slate"] {
  --md-hue: 240;
}
